section.canhcam-testimonials-1
	.container
		.row
			.col
				.testimonial-slider.owl-carousel
					.item.text-center
						.row.justify-content-center
							.col-10
								h4.h4 Spent some time working on establishing a look and feel for our case studies, today!
						.row
							.col
								.author
									h5.h5.mt-4 @buje - 
										span.edit 4 Hours ago
									.landingpage-icon
										ul.list-inline.text-center
											li.list-inline-item
												a(href='#', target='_blank')
													i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
					.item.text-center
						.row.justify-content-center
							.col-10
								h4.h4 Spent some time working on establishing a look and feel for our case studies, today!
						.row
							.col
								.author
									h5.h5.mt-4 @buje -
										span.edit 4 Hours ago
									.landingpage-icon
										ul.list-inline.text-center
											li.list-inline-item
												a(href='#', target='_blank')
													i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
