section.canhcam-gallery-3
	article.gallery-details
		.row.no-gutters.gallery-lists
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-06.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-06.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-07.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-07.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-08.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-08.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-09.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-09.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
		.row.no-gutters.gallery-lists-1
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-10.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-10.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-11.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-11.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-12.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-12.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/img-13.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/img-13.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
