section.canhcam-gallery-3#portfolio(data-spy="scroll" data-target="#list-example" data-offset="0")
	.nav-gallery
		.container
			.row
				.col
					h2.h2.text-center Portfolio
					ul.nav.justify-content-center.nav-pills(data-select)
						li.nav-item.active
							a.nav-link(href='#') All
						li.nav-item
							a.nav-link(href='#') Web
						li.nav-item
							a.nav-link(href='#') Mobile
						li.nav-item
							a.nav-link(href='#') Design
						li.nav-item
							a.nav-link(href='#') Typeography
	article.gallery-details
		.row.no-gutters.gallery-lists
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__01.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__01.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__02.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__02.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__03.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__03.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__04.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__04.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
		.row.no-gutters.gallery-lists-1
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__05.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__05.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__06.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__06.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__07.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__07.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
			.col-sm-6.col-lg-3
				a.item(href="./img/news/news__08.png")
					figure
						.boxzoom
							img.img-fluid(src="./img/news/news__08.png", alt="Demo title")
						figcaption.d-flex.justify-content-center.align-items-center
							h3.mr-4 Project Title
							.buttom
								i.fas.fa-plus
