section.canhcam-boxes-16
	.container
		.row.text-center
			.col
				h2.h2 Pricing
		.row.categorys
			.col-lg-4
				.box
					.row.price
						.col-6
							h3.h3 Basic
							p.text Lorem ipsum
						.col-6
							h4.h4.text-right 10
								span.dollar $
					.row.exclusive-right
						.col-lg-12
							.list
								i.icon.fas.fa-arrow-right 
								h5.text 123 123 123
