section.canhcam-pricing-16#pricing(data-spy="scroll" data-target="#list-example" data-offset="0")
	.container
		.row.text-center
			.col
				h2.h2 Pricing
		.row.categorys
			.col-lg-4
				.box
					.row.price
						.col-6
							h3.h3 Basic
							p.text Lorem ipsum
						.col-6
							h4.h4.text-right 10
								span.dollar $
					.row.exclusive-right
						.col-12
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Lorem Ipsum
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Omnis iste natus
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 At vero accusamus
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Nam libero tempore
							.row
								.col.text-center
									button.btn.btn-more.text-center(type='button') SUBMIT
			.col-lg-4
				.box
					.row.price
						.col-6
							h3.h3 Basic
							p.text Lorem ipsum
						.col-6
							h4.h4.text-right 10
								span.dollar $
					.row.exclusive-right
						.col-12
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Lorem Ipsum
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Omnis iste natus
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 At vero accusamus
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Nam libero tempore
							.row
								.col.text-center
									button.btn.btn-more.text-center(type='button') SUBMIT
			.col-lg-4
				.box
					.row.price
						.col-6
							h3.h3 Basic
							p.text Lorem ipsum
						.col-6
							h4.h4.text-right 10
								span.dollar $
					.row.exclusive-right
						.col-12
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Lorem Ipsum
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Omnis iste natus
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 At vero accusamus
							.list
								.icon
									i.fas.fa-arrow-right.icon-i
								.text
									h5.h5 Nam libero tempore
							.row
								.col.text-center
									button.btn.btn-more.text-center(type='button') SUBMIT
