section.canhcam-carousel-4
	.container
		.owl-carousel.owl-theme.list-items.d-flex
			.item
				a(href='#')
					img(src='./img/clients/clients_01.png', alt='')
			.item
				a(href='#')
					img(src='./img/clients/clients_02.png', alt='')
			.item
				a(href='#')
					img(src='./img/clients/clients_03.png', alt='')
			.item
				a(href='#')
					img(src='./img/clients/clients_04.png', alt='')
