section.canhcam-carousel-3#service
	.container
		.row
			.col.text-center
				h2(data-spy="scroll" data-target="#list-example" data-offset="0")
					.h2 Service
						span
	.container.shape
		.row.justify-content-center
			.col-md-4.boxes-1
			.col-md-4.boxes-2
		.row.justify-content-center
			.col-md-4.boxes-3
			.col-md-4.boxes-4
	article.service-list
		.container
			.row.boxes-5
				.col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.title_1
					span
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/service_01.png", alt="alt")
							figcaption
								h3 Fully Customizable
								p Ut enim ad minim cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.title_1
					span
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/service_02.png", alt="alt")
							figcaption
								h3 Quality Design
								p Ut enim ad minim cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.title_1
					span
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/service_03.png", alt="alt")
							figcaption
								h3 Great Support
								p Ut enim ad minim cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
