footer.canhcam-footer-13
	.footer-content
		.container
			.row.justify-content-between
				.col-lg-8
					.slogan.text-center.text-lg-left.d-lg-flex
						.logo
							a.mb-4(href="")
								img(src="./img/logo.png", alt="logo")
						.quote.mb-4.mb-md-0
							h6.h6 LANDING PAGE VIET NAM
							hr
							.text
								p.mb-0 
									span Landing Page Viet Nam 
									| © 2018 Powered by 
									span LDVN
				.col-lg-4.social.text-center.text-lg-left.mt-4.mt-lg-0
					ul.list-inline
						li.list-item
							a(href='#')
								i.fab.fa-facebook-f
						li.list-item
							a(href='#')
								i.fab.fa-twitter
						li.list-item
							a(href='#')
								i.fab.fa-linkedin-in
