section.canhcam-slider-6
	.container 
		.row.justify-content-center.boxes
			.col-10
				.row
					.col-lg-4.img
						figure
							img.img-fluid(src="./img/news/team_01.png")
					.col-lg-8.title
						figcaption
							h2.h2 Michael smith
							h3.h3 Design
							p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum
							.landingpage-icon
								ul.list-inline.text-center.text-md-left
									li.list-inline-item
										a(href='#', target='_blank')
											i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')
									li.list-inline-item
										a(href='#', target='_blank')
											i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
									li.list-inline-item
										a(href='#', target='_blank')
											i.fab.fa-linkedin-in(ga-action-click='', data-value='Linkedin', data-label='Linkedin', data-action='Linkedin')
							h4.h4 SKILLS
								span.text-right 84%
							.progress
								.progress-bar.bg-more(role="progressbar" style="width: 84%" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100")
//- section.carousel-456
//- 	.remodal-bg
//- 		.remodal(data-remodal-id="modal")
//- 			button.remodal-close(data-remodal-action="close")
//- 			h1 123
//- 			p Responsive, lightweight, fast, synchronized with CSS animations
//- 			br
//- 			button.remodal-cancel(data-remodal-action="cancel") Cancel
//- 			button.remodal-confirm(data-remodal-action="confirm") OK


