section.canhcam-slider-6
	.container 
		.row 
			.col 
				.swiper-container
					.swiper-wrapper
						.swiper-slide.team-img(data-hash="slide1", bg-img="./img/news/team_01.png") 123
							h2 123
						.swiper-slide.team-img(data-hash="slide2", bg-img="./img/news/team_02.png")
						
					//- .swiper-pagination
				.swiper-button-next
				.swiper-button-prev
				.swiper-button-next-thumb
				.swiper-button-prev-thumb
	//- .container 
	//- 	.row
	//- 		.col
	//- 			ul.swiper-nav.nav.nav-pills.justify-content-center.mt-4
	//- 				li.nav-link(slide-to="0") 1
	//- 				li.nav-link(slide-to="1") 2

