section.canhcam-services-9
	.container
		.row.mb-4.justify-content-md-center
			.col.col-lg-10.order-lg-1
				.row.no-gutters
					.col-lg-8.col-md-8.col-sm-9.col-10
						.text-odd
							h3.h3 App development
							p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum
							p.mb-0
								a(href="#")
									button.btn.btn-more Learn more
