section.canhcam-boxes-7#blog(data-spy="scroll" data-target="#list-example" data-offset="0")
	.container
		.row.text-center
			.col
				h2.h2 Blog
		.row.boxes-details
			.item.col-md-12.col-lg-6.col-sm-12.col-xs-12
				a.link(href="#")
					.row
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.img-blog
							img.img-fluid(src="./img/blog/blog_01.png", alt="")
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.post
							h3.h3-blog Lorem ipsum
							date.date November 30, 2014
							p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			.item.col-md-12.col-lg-6.col-sm-12.col-xs-12
				a.link(href="#")
					.row
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.img-blog
							img.img-fluid(src="./img/blog/blog_02.png", alt="")
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.post
							h3.h3-blog Lorem ipsum
							date.date November 30, 2014
							p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			.item.col-md-12.col-lg-6.col-sm-12.col-xs-12
				a.link(href="#")
					.row
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.img-blog
							img.img-fluid(src="./img/blog/blog_03.png", alt="")
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.post
							h3.h3-blog Lorem ipsum
							date.date November 30, 2014
							p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			.item.col-md-12.col-lg-6.col-sm-12.col-xs-12
				a.link(href="#")
					.row
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.img-blog
							img.img-fluid(src="./img/blog/blog_04.png", alt="")
						.col-md-6.col-lg-6.col-sm-6.col-xs-12.post
							h3.h3-blog Lorem ipsum
							date.date November 30, 2014
							p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
		.row.justify-content-md-center.button-blog
			.col-md-auto
				button.btn.btn-more(type="reset") Load more 
					i.fas.fa-undo
